{% extends 'base.html' %}
{% load static %}

{% block main %}
    {% block header %}
        {% include 'header.html' %}
    {% endblock %}
    <section class="page">
      <div class="p-5">
        <h1 class="text-center mb-3 text-success-emphasis display-1">Вход</h1>
         <form method="post" class="container d-flex flex-column px-5">
              {% csrf_token %}
                {% for field in form %}
                  <tr>
                    <td height="40">{{ field.label_tag }}</td>
                    <td height="40">{{ field }}</td>
                  </tr>
                {% endfor %}
                <tr>
                  <td colspan="2">
                    {% if form.errors %}
                      <small class="text-danger">{{ form.non_field_errors }}</small>
                    {% endif %}
                  </td>
                </tr>
              <br>
              <button type="submit" class="align-items-center justify-content-center btn btn-primary btn-block">Войти</button>
        </form>
      </div>
    </section>
    {% block footer %}
        {% include 'footer.html' %}
    {% endblock %}
{% endblock %}