{% extends 'base.html' %}
{% load static %}

{% block main %}
    {% block header %}
        {% include 'header.html' %}
    {% endblock %}
 <section class="page">
  <div class="container p-3">
    <h1 class="text-center mb-3 text-success-emphasis display-1">Регистрация</h1>
    <form action="{% url 'account:registration' %}" method="post" class="m-auto">
        {% csrf_token %}
        {% for field in form %}
              <div class="mb-3">
                {{ field.label_tag }}
                {{ field }}
                {% if field.errors %}
                    <div class="error">{{ field.errors }}</div>
                {% endif %}
              </div>
        {% endfor %}
      <input type="submit" class="btn btn-success mb-3 mt-3 w-100 shadow-sm p-3
 fs-2 rounded-pill fw-bold" value="Зарегистрироваться">
    </form>
  </div>
</section>
    {% block footer %}
        {% include 'footer.html' %}
    {% endblock %}
{% endblock %}